.parallax {
  background-image: url(../images/background4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 18rem;
  padding-bottom: 18rem;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    &--img {
      display: flex;
      width: 80px;
      height: 80px;
      background-color: white;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;
      &:hover {
        cursor: pointer;
      }
      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        background: rgba(255, 255, 255, 1);
        border-radius: 50%;
        z-index: -1;
        animation: grow 1s ease-in-out infinite;
      }
      &::after {
        background: rgba(255, 255, 255, 0.4);
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 80px;
          height: 80px;
          background: rgb(255, 255, 255);
          border-radius: 50%;
          z-index: -1;
          animation: grow 1s ease-in-out infinite;
        }
      }
      &::before {
        background: rgba(255, 255, 255, 0.6);
        animation-delay: -0.5s;
      }
    }
    @keyframes grow {
      0% {
        transform: scale(1, 1);
        opacity: 1;
      }
      100% {
        transform: scale(1.8, 1.8);
        opacity: 0;
      }
    }
  }
}
